/*These are the properties for the container*/
.container{
  background-color: #333;
  /*height: 100vh;*/
  height: 700px;
  display: flex;
  /*flex-direction: row;*/
  /*flex-direction: row-reverse;*/
  /*flex-direction: column;*/
  /*flex-direction: column-reverse;*/

  /*flex-wrap: wrap;*/

  /*Equal to flex-direction: row; and flex-wrap: wrap;*/
  flex-flow: row wrap;

  /*center, flex-start, flex-end, space-between, space-around*/
  justify-content: space-around;

  /*center, flex-start, flex-end, baseline*/
  /*align-items: baseline;*/

  align-content: stretch;
}

/*These are the properties for each Item in the container*/
.item {
  margin: 30px;
  padding: 10px;
  background-color: teal;
  text-align: center;
  font-size: 30px;
  color: white;
}
